:root {
    --width-sm: 600px;
    --width-md: 1100px;
    --width-lg: 1440px;
  
    --circle-radius: 900px;
  
    --color-red: #5053B8;
    --color-red-light: #6d70c7;
    --color-white: #fbfcfe;
    --color-blue-light: #5077B5;
    --color-blue: black;
    --color-blue-dark: #09145c;
  }
/* :root {
    --width-sm: 600px;
    --width-md: 1100px;
    --width-lg: 1440px;
  
    --circle-radius: 900px;
  
    --color-red: #ba4270;
    --color-red-light: #da6d97;
    --color-white: #fbfcfe;
    --color-blue-light: #6c8294;
    --color-blue: #36536b;
    --color-blue-dark: #1b262f;
  } */
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a, button{
    transition: background-color 0.5s, color 0.5s;
  }
  
  input,
  button {
    outline: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Public-sans", sans-serif;
    font-size: 1.5rem;
    color: var(--color-blue);
    background-color: var(--color-white);
    max-width: 100%;
  }
  
  .body-container{
    overflow-x: hidden;
  }
  
  
  /* TYPOGRAPHY */
  
  p {
    line-height: 3rem;
  }
  
  .light {
    font-weight: 100;
  }
  
  .heading {
    margin: 0;
    padding: 0;
    font-family: "DM Serif Display", serif;
  }
  
  .heading--primary {
    font-size: 6rem;
    margin-bottom: 2rem;
    max-width: 750px;
    /* text-align: center; */
  }
  
  .heading--secondary {
    font-size: 4rem;
    line-height: 5.5rem;
    margin-bottom: 2rem;
  }
  
  .heading--tertiary {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  
  .button-primary:link,
  .button-primary:visited {
    padding: 1.1rem 1.5rem;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4rem;
    background-color: transparent;
    text-decoration: none;
    color: var(--color-white);
    margin-top: 3rem;
  }
  .market-container {
    height: 80vh;
  }

  .button-primary:hover,
  .button-primary:active {
    padding: 1.1rem 1.5rem;
    display: inline-block;
    border: 1px solid var(--color-white);
    border-radius: 4rem;
    text-decoration: none;
    background-color: var(--color-white);
    color: #000;
  }
  
  .button-primary:active {
    transform: scale(0.95);
  }
  
  /* LAYOUT */
  
  .image-full-width {
    width: 100vw;
  }
  

  .flex-row {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .row {
    max-width: 100vw;
    width: var(--width-md);
    padding: 2rem 2rem 0 2rem;
    margin: 1.5rem auto;
  }
  
  .d-grid-8 {
    display: grid;
    grid-template-columns: repeat(8, minmax(12.5%, 1fr));
    grid-row-gap: 5rem;
    padding: 5rem 0 10rem 0;
  }
  
  .col-2 {
    grid-column: span 2;
  }
  
  .col-4 {
    grid-column: span 4;
  }
  
  .col-5 {
    grid-column: span 5;
  }
  .col-7 {
    grid-column: span 7;
  }
  .col-8 {
    grid-column: span 8;
  }
  
  .pl-md {
    padding-left: 7rem;
  }
  
  .pl-lg {
    padding-left: 9rem;
  }
  
  .circle {
    background-color: var(--color-blue-light);
    opacity: 0.5;
    width: var(--circle-radius);
    height: var(--circle-radius);
    border-radius: 50%;
    position: absolute;
  }
  
  section {
    padding-top: 10rem;
  }
  /*COMPONENTS */
  
  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2895bd; */
  }
  
  .navbar__logo {
    margin-right: 6rem;
  }
  
  .navbar__list {
    display: flex;
    list-style-type: none;
  }
  
  .navbar__list-item {
    margin-right: 3rem;
    align-self: center;
  }
  
  .navbar__list-item a:link,
  .navbar__list-item a:visited {
    opacity: 0.7;
  }
  
  .navbar__list-item a:hover,
  .navbar__list-item a:active {
    opacity: 1;
  }
  
  .navbar__button:link,
  .navbar__button:visited {
    margin-left: auto;
    padding: 1.5rem 2rem;
    text-decoration: none;
    background-color: var(--color-red);
    border-radius: 6rem;
    color: #fff;
  }
  
  .navbar__button:hover,
  .navbar__button:active {
    margin-left: auto;
    padding: 1.5rem 2rem;
    text-decoration: none;
    background-color: var(--color-red-light);
    border-radius: 6rem;
    color: #fff;
  }
  
  .navbar__button:active {
    transform: scale(0.95);
  }
  
  .circle-nav-right {
    top: -300px;
    right: -400px;
    z-index: -2;
  }
  
  .circle-nav-right--2 {
    top: -700px;
    right: -400px;
    z-index: -2;
  }
  /*////////////////////////HEADER //////////////////////////*/
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .header .left,
  .header .right {
    width: 50%;
  }
  
  .header .left {
    padding-right: 3rem;
    align-self: center;
    padding-bottom: 2rem;
  }
  
  .header .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header__img__market {
    transform: translateX(10rem);
    /* height: 80vh;
    width: 60vw; */
  }
  
  .header p {
    padding-left: 2rem;
  }
  
  /*/ //////////////// FORMS  /////////////////////////*/
  
  .form {
    position: relative;
    width: 90%;
    margin-bottom: 2rem;
  }
  
  .form__input {
    border-radius: 30px;
    padding: 1.5rem 2rem;
    width: 100%;
    border: 0;
    position: relative;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  }
  
  .form__input-button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px;
    padding: 1.5rem 2rem;
    background-color: var(--color-red);
    border: 0;
    color: #fff;
    cursor: pointer;
  }
  
  .form__input-button:hover,
  .form__input-button:active {
    margin-left: auto;
    padding: 1.5rem 2rem;
    text-decoration: none;
    background-color: var(--color-red-light);
    border-radius: 6rem;
    color: #fff;
  }
  
  .form__input-button:active {
    transform: scale(0.95);
  }
  
  /*CLIENTS */
  
  .clients-box {
    width: 100%;
    background-color: var(--color-blue-dark);
    overflow: hidden;
  }
  
  .clients {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    position: relative;
  }
  
  .circle-clients-left {
    top: -600px;
    left: -420px;
    z-index: 0;
    background-color: var(--color-blue);
  }
  
  .clients__grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
    justify-items: center;
    z-index: 2;
  }
  
  .clients__text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    word-spacing: 0.5rem;
    color: #fff;
    width: 50%;
    padding-right: 6rem;
    z-index: 2;
  }
  
  /* FEATURES  */
  
  .features {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    align-items: center;
    justify-items: center;
    position: relative;
  }
  
  .features__img--1 {
    grid-column: 1 / span 4;
    margin-left: -10rem;
    overflow: none;
    object-fit: cover;
    width: 100%;
  }
  
  .features__text--1 {
    grid-column: 5 / span 4;
    padding: 0 3rem;
  }
  
  .features__img--2 {
    grid-column: 5 / span 4;
    overflow: none;
    object-fit: cover;
    width: 100%;
  }
  
  .features__text--2 {
    grid-column: 1 / span 4;
    padding-right: 7rem;
  }
  
  .circle-features-right {
    width: 600px;
    height: 600px;
    top: 40rem;
    right: 4rem;
    transform: translateX(65%);
    z-index: -1;
  }
  
  .feature__small-container {
    margin-top: 15rem;
    grid-column: 1 / 9;
    display: flex;
  }
  
  .feature__small {
    margin: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .feature__small h4 {
    margin: 2.5rem 0;
    font-weight: 600;
  }
  
  /*////////REQUEST DEMO ///////////////////////////////////////*/
  
  .request-demo {
    margin-top: 10rem;
    display: flex;
  }
  
  .request-demo > * {
    flex: 1;
  }
  
  /* .download-img-div{
    height: 30vh;
  } */

  /* //////////////////////FOOTER ///////////////////////////////////*/
  
  .download-img-div {
    /* background-color: yellow; */
    align-self: flex-end;
  }

  .footer {
    margin-top: 5rem;
    font-size: 1.2rem;
    color: var(--color-white);
    position: relative;
    background-color: var(--color-blue-dark);
    overflow: hidden;
    width: 100vw;
  }
  #footer-logo {
    margin-right: 6em;
  }
  
  .footer__flex {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .footer__logo {
    margin-right: 0.5rem;
    height: 50px;
    width: 30px;
  }
  
  .footer .navbar__list {
    opacity: 0.6;
  }
  
  .footer__social {
    margin-left: auto;
    list-style-type: none;
    display: flex;
    z-index: 5;
  }
  
  .footer__social-item {
    margin-left: 2rem;
  }
  
  .circle-footer-right {
    background-color: var(--color-blue);
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(150px) translateY(-240px);
  }
  
  /*///////////////////////////////////////////////////////////////////////////////////
  /*************************************************************************************
  STATS ROW
  ***************************************************************************************
  //////////////////////////////////////////////////////////////////////////////////////*/
  
  .stats > div {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem 0;
    margin-right: 1rem;
    width: calc(33.33% - 2rem);
    display: inline-block;
  }
  
  .stats__title {
    margin-bottom: 2rem;
  }
  
  .stats__stat {
    color: var(--color-red);
    font-size: 4rem;
  }
  
  /********************************************/
  /**** PRICING  ******************************/
  /********************************************/
  
  .d-grid-3 {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 1rem));
    grid-gap: 2.5rem;
  }
  
  .pricing__title {
    color: var(--color-red);
    margin-bottom: 2rem;
  }
  
  .pricing__description {
    margin-bottom: 2rem;
    color: var(--color-blue);
    letter-spacing: 0;
  }
  
  .pricing__feature-list {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3rem 3rem;
    list-style: none;
  }
  
  .pricing__feature-item {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .pricing__feature-item--checked {
    list-style-image: url(../assets/shared/desktop/icon-check.svg);
    color: var(--color-blue-dark);
  }
  
  .pricing__feature-item:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  
  .pricing__button {
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    border-radius: 25px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;
  }
  
  .pricing__button:hover,
  .pricing__button:active {
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    border-radius: 25px;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  
  /*//////////////////////////////////////////////
  ////////////CONTACT PAGE ////////////////////////
  /////////////////////////////////////////////////*/
  
  .contact-form__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    padding: 2rem;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .contact-form__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .contact-form__input:focus {
    border-bottom: 2px solid var(--color-blue-dark);
    color: rgba(0, 0, 0, 1);
  }
  
  .contact-form__input:not(:placeholder-shown):invalid {
    border-bottom: 2px solid rgb(236, 126, 126, 1);
    color: rgb(236, 126, 126, 1);
  }
  
  .contact-form__input--checkbox {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    display: none;
  }
  
  .send-updates__label {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    margin: 2rem 1rem;
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    border-radius: 2px;
  }
  
  .checkbox .check {
    opacity: 0;
  }
  
  .contact-form__input--checkbox:checked + .send-updates__label .checkbox {
    background-color: var(--color-red-light);
  }
  
  .contact-form__input--checkbox:checked + .send-updates__label .checkbox .check {
    opacity: 1;
  }
  
  .join {
    padding: 30% 10rem;
    grid-column: 5 / span 4;
  }
  
  .join p {
    font-size: 1.75rem;
    margin-bottom: 5rem;
  }
  
  /*/ /////////////////////////////////////////////////////////////////*/
  
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 50%;
    }
  
    .heading--primary {
      text-align: center;
      margin: 0 auto;
      padding: 0 6rem;
    }
  
    .circle-nav-right--2 {
      right: -600px;
    }
  
    .circle-clients-left {
      left: 50%;
      top: -700px;
      transform: translateX(-50%);
    }
  
    .circle-features-right {
      display: none;
    }
  
    .flex-row {
      flex-direction: column-reverse;
      text-align: left;
    }
  
    .header .left {
      width: 80%;
      transform: translateY(-6rem);
    }
  
    .header .left form {
      width: 80%;
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto;
    }
  
    .header .left p {
      padding: 0;
    }
  
    .header__img__market {
      transform: none;
    }
  
    .clients {
      flex-direction: column-reverse;
    }
  
    .clients__text {
      margin-top: 5rem;
      text-align: center;
      padding-right: 0;
    }
  
    .features {
      display: grid;
      grid-template-columns: repeat(8, 12.5%);
      align-items: center;
      justify-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
    }
  
    .features__img--1 {
      grid-column: 2 / span 6;
      overflow: none;
      object-fit: cover;
      width: 100%;
      margin: 0 auto;
      transform: translateX(1.5rem);
    }
  
    .features__text--1 {
      grid-column: 1 / span 8;
      padding: 0 3rem;
      width: 75%;
      margin-bottom: 8rem;
    }
  
    .features__img--2 {
      grid-column: 2 / span 6;
      overflow: none;
      object-fit: cover;
      width: 100%;
      transform: translateX(1.5rem);
    }
  
    .features__text--2 {
      grid-row: 4 / span 1;
      grid-column: 1 / span 8;
      padding: 0 3rem;
      width: 70%;
      margin-bottom: 8rem;
    }
  
    .circle-features-right {
      width: 600px;
      height: 600px;
      top: 40rem;
      right: 4rem;
      transform: translateX(65%);
      z-index: -1;
    }
  
    .feature__small-container {
      margin-top: 15rem;
      grid-column: 1 / 9;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .feature__small {
      margin: 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  
    .feature__small h4 {
      margin: 2.5rem 0;
      font-weight: 600;
    }
  
    .pricing {
      text-align: center;
    }
  
    .pricing ul {
      text-align: left;
    }
  
    .d-grid-3 {
      grid-gap: 0.5rem;
    }
  
    .col-4 {
      grid-column: 1 / span 8;
    }
  
    .contact-form {
      width: 800px;
      max-width: 75%;
      margin: 0 auto;
    }
  
    .contact-form .flex-row {
      flex-direction: row;
    }
  
    .join {
      text-align: center;
      padding: 0;
      margin: 5rem auto;
    }
  
    .request-demo {
      flex-direction: column;
      align-items: center;
    }
  
    .request-demo form {
      flex-direction: row;
      width: 70%;
    }
  }
  
  .pricing__price{
    font-size: 3.8rem;
  }
  
  
  @media only screen and (max-width: 600px){
    html{
      font-size: 46%;
    }
  
    .navbar{
      justify-content: flex-start;
      
    }
  
    .navbar__list, .navbar__button{
      display: none;
    }
  
  
    .heading--primary {
      font-size: 5rem;
      margin-bottom: 2rem;
      
      margin: 0 auto;
      padding: 0 0.5em;
    }
  
    .header .left{
      text-align: center;
    }
  
    .header__img__market{
      margin-left: 5.5rem;
      height: 320px;
    }
  
    .link{
      font-weight: 700;
    }
  
    .market-container {
      height: 50vh;
    }

    .form, .request-demo form{
      display: flex;
      flex-direction: column;
  
    }
  
    .form__input{
      margin-bottom: 1.5rem;
    }
  
    .form__input,
    .form__input-button{
      display: block;
      position: relative;
      width: 100%;
    }
  
    .clients__grid {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 5rem;
      grid-column-gap:6rem;
      justify-items: center;
      z-index: 2;
    }
    
    .clients__text{
      width: 80%;
    }
  
    .feature__small-container{
      flex-direction: column;
      width: 75%
    }
  
    .feature__small{
      margin-bottom: 5rem;
    }
  
    .feature__small h4{
      font-size:  2rem;
    }
  
    .pricing__tariff{
      grid-column: span 3;
      width: 60%;
      margin: 0 auto 10rem auto;;
    }
  
    .pricing__title{
      margin-bottom: 4rem;
    }
  
    .pricing__description{
      display: none;
    }
  
    .pricing__price{
      margin-bottom: 5rem;
    }
  
    .pricing__button{
      margin-top: 3rem;
    }
  
  }